@import "tailwindcss";


*{
	font-family: 'Courier New', Courier, monospace;
}

:root {
	background-color: #14402F;

}

.react-calendar {
	background-color: #024817;
	border: none;
	border-radius: 5px;
	padding: 5px
}

@media (prefers-color-scheme: dark) {}