@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


*{
	font-family: sans-serif
}

:root {


}

html {
  scroll-behavior: smooth;
}

.react-calendar {
	background-color: #024817;
	border: none;
	border-radius: 5px;
	padding: 5px
}

body{
	      
}

@theme {
	--color-background:#031a0d;
	--color-borderc:#1D291C;
  	--color-b2:#0E3E1D;
	--color-b3:#032E15;
	--color-b4:#015A1C;
	--color-b5:#008000;
	--color-primary:#C2E213;

}

@media (prefers-color-scheme: dark) {}